div#mainImgBlock > img {
	margin: 0 auto;

}
div#mainDate {
	font-size: 25px;
	font-style: italic;
	padding: 7px 15px;
}

div#mainWeatherBlock span {
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}
div#moreInfo {
	text-align: center;
	margin-bottom: 15px;
}
div#moreInfo div {
	margin: 0;
	padding:0 15px;
	overflow: hidden;
	margin-bottom: 2px;
}

div#moreInfo span.title,
div#moreInfo span.value {
	float: left;
	width:50%;
	padding: 5px 0;
}
div#moreInfo span.title {
	border-right: 1px solid #ccc;
}
.change-countries-block {
	overflow: hidden;
	margin-bottom: 10px;
}

select#countries {
	float: left;
	width:70%;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
button#country-select {
	float: left;
	width:30%;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}